<!DOCTYPE html>
<html>
    <head>
        <title>
            Random F1 Driver and Team Pairing Generator
        </title>
        <style>
        .center {
            Text-align:center;
            }
        </style
    </head>
    <body>
        <div>
            <h1>
                Random F1 Driver and Team Pairing Generator
            </h1>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p class="center">
                {{ pairing }}
            </p>
            <br>
            <br>
            <br>
            <table class="table" style="width:50%;table-layout: fixed;margin-left:auto;margin-right:auto;">
                <colgroup>
                    <col span="1" style="width: 25%;border-style: solid;border-color: #000000;">
                    <col span="1" style="width: 25%;border-style: solid;border-color: #000000;">
                </colgroup>

                <tr>
                    <th class="center">Driver</th>&nbsp;
                    <th class="center">Team</th>&nbsp;
                </tr> -->
                {% for dat in f1dat %}
                    <tr class="tabletext">
                        <td><p class="center">{{ dat.driver }}</p></td>
                        <td><p class="center">{{ dat.team }}</p></td>
                    </tr>
                {% endfor %}
            </table>
            <br>
            <br>
            <br>
            <button onclick="window.location.reload();">
                Generate Pairing
            </button>
        </div>                
    </body>
</html>    