<!DOCTYPE html>
<html>
    <head>
        <title>
            Random F1 Driver and Team Pairing Generator
        </title>
    </head>
    <body>
        <h1>
            Random F1 Driver and Team Pairing Generator
        </h1>
        <p>
            {{ pairing }}
        </p>
        <button onclick="window.location.reload();">
            Generate Pairing
        </button>
        <div>
        <table class="table" style="width:80%;table-layout: fixed;margin-left:auto;margin-right:auto;">
            <colgroup>
                <col span
    </body>
</html>    